body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Start of Calendar CSS */
.react-datetime-picker__wrapper {
  border-radius: 23px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 4px 28px;
}

.react-datetime-picker__button svg {
  background-color: #F8D476;
}

/* End of Calendar CSS */
#check-mark {
  display: flex;
  position:relative;
  max-width: 15px;
  min-width: 15px;
  background-color: #4B6B79;
}

.error-messages {
  list-style-type: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: red;
}

#login-signup {
  float: right; 
  margin-right: 70px;
  background-color: #FDFDFD;
  border-radius: 26px;
  margin-top: -14%;
  margin-bottom: 10%;
  font-size: x-large;
  padding: 105px;
  font-style: inherit;

}

#app-logo {
  max-height: 200px;
  min-height: auto;
  margin-top: 15%;
  border-radius: 10%;
  margin-left: 10%;

}

#nav-bar {
  background-color: #FDFDFD;
  padding: 10px;
  font-weight: bold;
  font-size: x-large;
  font-family: 'Times New Roman', Times, serif;
}

.delete-edit-btn {
  background-color: none;
  /* display: flex; */
  /* float: right; */
  border: none;
  margin-bottom: 3px;
  margin-right: 5px;
  border-radius: 6px;
}

#logout-btn {
  float: right;
  padding: 2px;
  background-color: #efefef88;
  border-radius: 5px;
  margin-right: 50px;
  margin-top: 10px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  font-size: larger;

}

.dropdown-select {
  font-size: x-large;
  justify-content: center;
  border-radius: 26px;
  cursor: pointer;
  padding: 8px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 13px;
}

#create-meeting-tbn {
  font-size: x-large;
    justify-content: center;
    border: none;
    border-radius: 26px;
    cursor: pointer;
    margin-top: 22px;
    padding: 8px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #D0E3CD;
}
#create-notes-tbn {
  font-size: x-large;
    justify-content: center;
    border: none;
    border-radius: 26px;
    cursor: pointer;

    padding: 8px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #D0E3CD;
    
}



.employee-menu-container {
  margin-top: 15px;
  background-color: #FDFDFD;

}

.menu-container {
   float: left;
   width: 35%;
   background-color: #FDFDFD;
   margin-top: 15px;
   margin-left: 10px;
   border-radius: 22px;
}

.meetings-container {
  float: right;
  width: 60%;
  background-color: #FDFDFD;
  margin-right: 44px;
  border-radius: 35px;
  margin-top: 15px;
}

.employee-meetings{
  background-color: #47556929;
  margin-bottom: 15px;
  margin-left: 8%;
  margin-right: 8%;
  border-radius: 23px;
}

.login-btn {
  font-size:x-large;
  justify-content: center;
  border: none;
  border-radius: 26px;
  cursor: pointer;
  margin-left: 18%;
  margin-bottom: 7px;
  padding: 8px;
  padding-left: 80px;
  padding-right: 80px;
  font-family: 'Times New Roman', Times, serif;
  background-color: #BED2C4;
}

.create-acc-btn {
  font-size:x-large;
  justify-content: center;
  border: none;
  border-radius: 26px;
  cursor: pointer;
  margin-left: 17%;
  margin-top: 7px;
  padding: 8px;

  padding-left: 30px;
  padding-right: 30px;
  font-family: 'Times New Roman', Times, serif;
  background-color: #D0E3CD;
}


.meetings_schedule {
  display: flex;
  float: left;
  width: 25%;
  border:none;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  border-radius: 23px;
  font-size: 17px;
  padding: 2px 6px;
  width: 430px;
  background-color: white;
  margin-bottom: 27px;
  margin-left: 10px;
  margin-right: 10px;
}

.auth-field {
  display: flex;
  border:none;
  flex-direction: column;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  border-radius: 26px;
  font-size: 17px;
  padding: 14px 16px;
  width: 330px;
  background-color: #EFEFEF;
  margin-bottom: 10px;
}

#add-notes-btn {
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  color: #4B6B79;
}

#app-logo {
  max-height: 200px;
  min-height: auto;
  margin-top: 15%;
  border-radius: 10%;
  margin-left: 10%;
}

.nav-link {
  color: black;
  text-decoration: none;
  margin-left: 15px;
}

.employee-list-btn {
  margin-bottom: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: larger;
  border-radius: 10px;
}

.new-meeting-form{
  float: right;
  background-color: #FDFDFD;
  border-radius: 26px;
  margin-bottom: 10%;
  margin-right: 28%;
  margin-top: 20px;
  font-size: x-large;
  padding: 103px;
  padding-top: 20px;
  font-style: inherit;
}

.user-meeting {
  background-color: #FDFDFD;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 22px;
}

.new-meeting-input {
  display: flex;
  border:none;
  flex-direction: column;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  border-radius: 26px;
  font-size: 17px;
  padding: 14px 16px;
  width: 330px;
  background-color: #EFEFEF;
  margin-bottom: 10px;
}

.new-notes-input {
  display: flex;
  border:none;
  flex-direction: column;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  border-radius: 26px;
  font-size: 17px;
  padding: 14px 16px;
  width: 330px;
  background-color: #EFEFEF;
  margin-top: 2px;
}

.meetings-card {
  align-items: start;
  background-color: #47556929;
    margin-bottom: 15px;
    margin-left: 8%;
    margin-right: 8%;
    border-radius: 23px;
}

.dispay-notes-btn {
  font-size: large;
  justify-content: center;
  border: none;
  border-radius: 26px;
  cursor: pointer;
  margin-bottom: 7px;
  padding: 3px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Times New Roman', Times, serif;
  /* background-color: #bed2c4; */
  background-color: #F8D476;
}

nav a.active {
  height: 50 vh;
  min-height: 400px;
  color: black;
  border-radius: 19px;
  background-color: #EFEFEF;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
}



hr {
  height: 3px;
  background-color: black;
  border: none;
}

ul {
  list-style-type: none;
}

body {
  background-color: #EFEFEF;
}

button {
  border: none;
}

h2 {
  font-family: 'Times New Roman', Times, serif;
}

h1 {
  font-family: 'Times New Roman', Times, serif;
}
